<br>
<br>
<br>
<div class="container">
<div class="card mb-3 bg-light">
  <div class="card-body">
    <h1 class="card-title">Buy Art</h1>
    <p class="card-text">Search through a variety of artworks and find your unique style.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="container">
<div class="row">
  <% @arts.each do |art|%>
  <div class="card" style="width: 20rem; margin: 20px; padding: 20px;">
    <%= image_tag art.picture, class:"card-img-top", alt:"Artwork" %>
    <div class="card-body">
      <h5 class="card-title"><%= art.title %></h5>
      <p class="card-text"><%= art.description%></p>
      <h4><%= number_to_currency(art.price) %></h4>
    </div>
    <div class="card-footer">
      <%= link_to 'Preview', art, class:"btn btn-outline-dark" %>
    </div>
  </div>
  <% end %>
</div>
</div>
<br>
<br>
