<!-- Renders a preview of a user's order and allows them to checkout -->
<br>
<br>
<br>
<div class="container text-light" style="background: #000; width: 400px;">
<br>
<br>
<h2 style="color: pink;">Your Order</h2>
<br>
<%= image_tag @art.picture, width: 250 if @art.picture.attached? %>
<br>
<br>
<h4><%= @art.title %></h4>
<h6 style="color: pink;">Art by: <%= @art.user.username %></h6>
<br>
<h5>Total ($AUD): <%= number_to_currency @art.price %></h5>
<br>
<button id="pay-now">Checkout Now</button>
<br>
<br>
</div>
<script src="https://js.stripe.com/v3/"></script>

<!-- Redirects user to third party payment system (Stripe) -->
<script>
function redirectToStripe() {
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>');
    stripe.redirectToCheckout({
        sessionId: '<%= @session.id %>'
    }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
    });
}

document.querySelector("#pay-now").addEventListener("click", redirectToStripe)

</script>