<br>
<br>
<br>
<div class="container">
<h1>Buy Art<h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Size</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= image_tag(art.picture, width: 250, height: 160) if art.picture.attached? %></td>
        <td><%= art.title %></td>
        <td><%= art.description %></td>
        <td><%= art.size %></td>
        <td><%= number_to_currency art.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>