<!-- Art form used as a partial with the "edit" and "new" art views-->
<div class="container" style="background-color: #000; width: 400px;">
  <%= form_with(model: art, local: true) do |form| %>
    <% if art.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>

        <ul>
          <% art.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
  <br>
  <!-- User adds art title-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :title %></span>
    </div>
      <%= form.text_area :title, type: "text", class: "form-control", placeholder: "Enter title here"%>
  </div>
  <!-- User adds art description -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :description %></span>
    </div>
      <%= form.text_area :description, type: "text", class: "form-control", placeholder: "Enter description here"%>
  </div>
  <!-- User adds art size, width and height in centimeters-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :size %></span>
    </div>
      <%= form.text_area :size, type: "text", class: "form-control", placeholder: "Enter print size here (width x height in cm)"%>
  </div>
  <!-- User adds art price in AUD-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :price %></span>
    </div>
      <%= form.text_area :price, type: "text", class: "form-control", placeholder: "Enter price here ($AUD)"%>
  </div>
  <!-- User adds picture of their art -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <%= form.label :picture, class: "input-group-text" %>
    </div>
      <%= form.file_field :picture, class: "form-control" %>
  </div>
  <!-- User clicks submit to save their art -->
    <div class="actions">
      <button type="button" class="btn btn-light"><%= form.submit %></button>
    </div>
  <% end %>
  <br>
</div>
