<div class="container">
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
<% if current_user == @art.user%>
<h1>Your Artwork</h1>
<% else %>
<h1>Artwork</h1>
<% end %>

<p>
  <%= image_tag @art.picture, width: 300 %>
</p>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @art.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @art.price %>
</p>

<% if current_user == @art.user%>
<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
<% else %>
<%= link_to "Buy Now!", new_order_path(art_id: @art.id) %> 
<% end %>
<br>
<br>
<br>
<div>



  
